.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.entryGrid {
  display: flex;
  flex-direction: column;
}

.gridcontainer {
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-areas: 
  "header"
  "content";
}

.month-header {
  grid-area: header;
}
.grid-item {
  border: 1px solid black
}


.flexcontainer {
  display: flex;
  flex-direction: row;
  width: 1000px;
  flex-wrap: wrap;
}

.flexcontainer > div {
  width: 200px;
}

