.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.entryGrid {
  display: flex;
  flex-direction: column;
}

/* Entry Grid */
.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "content content content content content content";
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
}

.gridcontainer > input,
label {
  border: 1px solid black;
  border-radius: 3px;
}

.gridcontainer > label {
  background-color: #92b4f4;
  padding-left: 5px;
}

.grid-header {
  grid-area: header;
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(20, 99, 203);
}

.gridcontainer > input {
  background-color: rgb(232, 240, 254);
}

.grid-loan-amt {
  grid-area: 2 / span 5;
}

.grid-loan-entry {
  grid-area: 2;
}

.grid-interest {
  grid-area: 3 / span 5;
}

.grid-interest-entry {
  grid-area: 3;
}

.grid-duration {
  grid-area: 4 / span 5;
}

.grid-duration-entry {
  grid-area: 4;
}

.extra-pay-grid {
  display: grid;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
}

.grid-extra-header {
  grid-area: 1 / span 4;
  text-align: center;
  background-color: #1463cb;
}

.extra-pay-grid > label {
  background-color: #92b4f4;
}

.extra-pay-grid > label,
input {
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
}
.extra-pay-grid > input {
  /* background-color: #cfdee7; */
  background-color: rgb(232, 240, 254);
}

.grid-extra1 {
  grid-area: 7;
}
.grid-extra2 {
  grid-area: 8;
}
.grid-extra3 {
  grid-area: 9;
}
.grid-extra4 {
  grid-area: 10;
}

.buttons {
  width: 150px;
  border-radius: 5px;
  height: 2em;
  color: white;
  margin-left: 10px;
}

#button-calc {
  background-color: #1c8459;
}

#button-reset {
  background-color: #7b3e19;
}
#calc-button {
  margin: 20px;
}

/*summary grid*/

.summarygrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px solid black;
  width: 80%;
  margin: 10px;
  /* padding: 5px; */
}

.summarygrid > .header {
  grid-area: 1 / span 4;
  text-align: center;
}

.summarygrid > div {
  text-align: center;
}

.summtitle {
  text-decoration: underline;
}

/* amort table */

.flexcontainer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 0px;
  max-width: 80%;
  /* flex-wrap: wrap; */
  text-align: center;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.header {
  background-color: #1463cb;
  border-bottom: 1px solid black;
  color: white;
}

.flexcontainer > div {
  width: 200px;
  border: 1px solid black;
  border-radius: 3px;
  /* background-color: #99e1d9; */
}

.month {
  background-color: #92b4f4;
}
